<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Search for Recipe" show-clear-button="focus" inputmode="search" [debounce]="1000" (ionInput)="searchInput($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-card *ngFor="let item of menu">
      <ion-img src="{{item.image}}" width="100%"/>
      <ion-card-header>
        <ion-card-subtitle>{{item.readyInMinutes}} Minutes</ion-card-subtitle>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{item.summary}}
      </ion-card-content>
      <div style="display: flex; justify-content: space-between;">
        <ion-button fill="clear">Open Recipe</ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="star-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </ion-list>
  <p id="hint">
    <br/><br/><br/><br/>
    It looks quite empty here...<br/>
    Try searching for something above!
  </p>
</ion-content>
